<!DOCTYPE html>
<!-- 
  The consent.html displays the text of your IRB-approved
  consent form.  Even if you are not required to provide
  a consent form, it is helpful to use this form to 
  describe what people can do if an error comes up, etc...

-->
<html>
    <head>
        <meta charset="utf-8" />
        <title>Informed Consent Form</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
        <script type="text/javascript">
            function onexit() {
              self.close(); // no harm, no foul here
            }
        </script>
    </head>
    <body>
        <div id="container-consent">
            <div id="consent">

                <h1>We need your consent to proceed</h1>
                <hr />
                <div class="legal well">
                    <p>
                    You have been invited to take part in a research study: Collaborative Cooking with an AI Agent.
                    </p>
                    <p>
                        These collaborative cooking games are part of a research study conducted at Carnegie Mellon University.
                        The purpose of the research is to understand human-AI teaming.
                    </p>
                    <p>
                        <strong> Procedures  </strong>
                        Your task is to perform 10 rounds of 1-minute cooking tasks with different AI partners.
                        Instructions will be displayed for each task. You may periodically during
                        and/or after the task be asked to respond to brief questions about your thoughts and feelings, including your
                        preferences in collaborating with each agent.
                    </p>

                    <p>
                        <strong> Participant Requirements   </strong>
                        Participation in this study is limited to individuals age 18 and older who are fluent English speakers.
                    </p>

                    <p>
                        <strong> Risks   </strong>
                        The risks and discomfort associated with participation in this study are no greater than those ordinarily encountered in
                        daily life or during other online activities.  These could include boredom or fatigue, associated with memorization tasks.
                    </p>

                    <p>
                        <strong> Benefits   </strong>
                        There may be no personal benefit from your participation in the study but the knowledge received may be of value to humanity.
                    </p>

                    <p>
                        <strong> Compensation & Costs </strong>
                        The study is expected to last 10-20 minutes and you will be compensated $XXX.XX for your time.
                        There will be no cost to you if you participate in this study.
                    </p>

                    <p>
                        <strong> Confidentiality   </strong>
                        By participating in this research, you understand and agree that Carnegie Mellon may be required to disclose
                        your consent form, data and other personally identifiable information as required by law, regulation, subpoena or
                        court order. Moreover, all information obtained in this study is strictly confidential. The US Department of Defense,
                        the sponsor of this study, will have access to research records as part of their responsibilities for human subjects
                        protection oversight of the study. The results of this research study may be used in reports, presentations, and
                        publications, but the researchers will not identify you. </p>

                    <p>
                        <strong> Otherwise, your confidentiality will be maintained in the following manner:   </strong>
                        Your data and online consent form will be kept separate. Your consent response will be stored in a secure virtually on
                        Carnegie Mellon property and will not be disclosed to third parties. Sharing of data with other researchers will only
                        be done in such a manner that you will not be personally identified. By participating, you understand and agree that
                        the data and information gathered during this study may be used by Carnegie Mellon and published and/or disclosed
                        by Carnegie Mellon to others outside of Carnegie Mellon. However, your name and other direct personal identifiers
                        will not be mentioned in any such publication or dissemination of the research data and/or results by Carnegie Mellon.
                        Note that per regulation all research data must be kept for a minimum of 3 years.
                    </p>

                    <p>
                        <strong> Right to Ask Questions & Contact Information   </strong>
                        If you have any questions about this study, you should feel free to ask them by contacting Michelle Zhao,
                        Robotics Institute, Carnegie Mellon University, 5000 Forbes Ave., Pittsburgh, PA 15217, tel. (858)-761-3090,
                        email: mzhao2@andrew.cmu.edu. If you have questions later, desire additional information, or wish to withdraw
                        your participation please contact by mail, phone or e-mail in accordance with the contact information listed above.
                        If you have questions pertaining to your rights as a research participant; or to report concerns to this study,
                        you should contact the Office of Research integrity and Compliance at Carnegie Mellon University.
                        Email: irb-review@andrew.cmu.edu . Phone: 412-268-1901 or 412-268-5460.


                    </p>

                    <p>
                        <strong> Voluntary Participation   </strong>
                        Your participation in this research is voluntary.  You may discontinue participation at any time during the research activity.
                    </p>


                    <button type="button" class="btn btn-default btn-sm" onClick="window.print();">
                    <span class="glyphicon glyphicon-print"></span> Print a copy of this
                    </button>
                </div>

                <hr />
    <br />

    <center>
        <button type="button" class="btn btn-primary btn-lg" onClick="window.location='/exp?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}'">
        <span class="glyphicon glyphicon-ok"></span> I consent to participate
        </button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-danger btn-lg" onClick="onexit()">
        <span class="glyphicon glyphicon-ban-circle"></span> I do NOT consent to participate
        </button>
    </center>

            </div>
        </div>
    </body>
</html>

